@define-color bg_color #2e3440;
@define-color fg_color #d8dee9;
@define-color base_color #3b4252;
@define-color text_color #d8dee9;
@define-color selected_bg_color #88c0d0;
@define-color selected_fg_color #2e3440;
@define-color button_bg_color #434c5e;
@define-color button_fg_color #d8dee9;

window {
    background-color: @bg_color;
    color: @fg_color;
}

button {
    background-color: @button_bg_color;
    color: @button_fg_color;
    border: 1px solid @button_bg_color;
    padding: 4px 8px;
}

button:hover {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

entry {
    background-color: @base_color;
    color: @text_color;
    border: 1px solid @button_bg_color;
    padding: 4px;
}

entry:focus {
    border-color: @selected_bg_color;
}

popover {
    background-color: @bg_color;
    color: @fg_color;
    border: 1px solid @button_bg_color;
}

popover button {
    background-color: @button_bg_color;
    color: @button_fg_color;
}

popover button:hover {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}