[Unit]
Description=Firefox profile memory cache

[Install]
WantedBy=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/archangel/.local/bin/firefox-sync %i xg1a4enm.default
ExecStop=/home/archangel/.local/bin/firefox-sync %i xg1a4enm.default
