[Unit]
Description=X session user's services

BindsTo=graphical-session.target

Wants=pulseaudio.service
Wants=gnome-keyring-daemon.service
Wants=polkit-gnome.service
Wants=mpd.service
Wants=powerline-daemon.service
Wants=thunar_daemon.service
